<app-navbar></app-navbar>
<br>

<div class="row">

  <div class="col s12 m4 l3 grey">
    <div class="card white darken-1">
      <div class="card-content">
        <span class="card-title center-align">Mensagens</span>
      </div>
    </div>




    <!-- close grey -->
  </div>

  <div class="col s12 m8 l9 teal">
  

    <div class="card white darken-1">
      <div class="card-content">
        <div class="row">


          <span class="card-title center-align">Mensagem Titulo
            <a class="btn waves-effect waves-light red right"><span class="valign-wrapper">Excluir</span><i
                class="material-icons">clear</i></a>
          </span>
        </div>
        <p>Hora</p>
        <p>Assunto</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic ad aliquid eius quidem dignissimos
          adipisci. Saepe eius inventore corrupti cum maxime nihil? Harum alias, nam quasi ea dolore consequatur, ipsum
          cupiditate fugit tempora et nobis dolor sed placeat nostrum id nulla error debitis itaque quod, quo laudantium
          maxime. Numquam sit maiores dolor repudiandae. Fugiat explicabo, eaque magnam dignissimos nesciunt ipsa,
          mollitia sequi aperiam iure quas itaque voluptate. Enim aliquam veritatis aspernatur illo minima quo soluta
          maxime nemo itaque, reprehenderit quia sapiente totam doloremque voluptate. Sequi vero at iste, nesciunt
          quaerat odio quasi optio reprehenderit omnis repellat perferendis perspiciatis nobis.</p>
      </div>
    </div>


    <!-- close teal -->
  </div>

</div>

