/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$backgroundSplash: radial-gradient(circle, #0678be, #1164a4, #13518a, #103f71, #0b2e59);
$fontDTS: 'Open Sans', sans-serif;
$backgroundDefault: #E6F4F1;

body {
    background-color: $backgroundDefault;
}
@mixin pageSettings {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
   
}