<div class="navbar-fixed">
 
<nav>
    <div class="nav-wrapper blue darken-3 z-depth-2">
      <a [routerLink]="['/home']" class="brand-logo">DTS</a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" >
        <li routerLinkActive="active"><a [routerLink]="['/home']" >Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/register']"  >Cadastrar</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/about']" >Sobre</a></li>
        <!-- <li routerLinkActive="active"><a [routerLink]="['/msg']" >Mensagens</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/msg/message-list']" >Mensagens detalhes</a></li> -->
       
     
      </ul>
    </div>
  </nav>
</div>
  <ul class="sidenav" id="mobile-demo">
      <li routerLinkActive="active"><a [routerLink]="['/home']" >Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/register']">Cadastrar</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
     
  </ul>


 
          