
<nav>
    <div class="nav-wrapper blue darken-3 z-depth-2">
      <a [routerLinkActive]="['/dashboard']" class="brand-logo">DTS</a>
      <a [routerLinkActive]="['/']" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" >
        <li ><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
        <li><a [routerLink]="['/register']" routerLinkActive="active">Cadastrar</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="active">Sobre</a></li>
     
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a [routerLink]="['/dashboard']"  [routerLinkActive]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
      <li><a [routerLink]="['/register']" routerLinkActive="active">Cadastrar</a></li>
      <li><a  [routerLink]="['/about']" [routerLinkActive]="['/about']" routerLinkActive="active">Sobre</a></li>
  </ul>

 
          