<div class="navbar-fixed">
 
<nav>
    <div class="nav-wrapper blue darken-3 z-depth-2">
      <a [routerLink]="['/home']" class="brand-logo">DTS</a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" >
        <li ><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <!-- <li><a [routerLink]="['/register']" routerLinkActive="active" >Cadastrar</a></li> -->
        <li><a [routerLink]="['/register']"  [routerLinkActive]="'active'">Cadastrar</a></li>
        <li><a [routerLink]="['/about']"  [routerLinkActive]="'active'">Sobre</a></li>
       
     
      </ul>
    </div>
  </nav>
</div>
  <ul class="sidenav" id="mobile-demo">
      <li ><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/register']" routerLinkActive="active" >Cadastrar</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="active">Sobre</a></li>
     
  </ul>


 
          